/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .team {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 36px;
  }

  .heading h2 {
    font-size: 22px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  .team {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  .btn {
    width: 100%;
  }

  .top-wrapper {
    text-align: left;
  }

  /* Tambahkan CSS untuk header-right */
  .header-right {
    display: none !important;
  }

  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {
    display: block !important;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}
